.gift {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100vw;
    top: -284px;
    left: -454.86px;
    background-image: url('../../../public/assets/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(300px);
    padding-bottom: 100px;
    background-color: var(--bg-color);
    padding-top: 50px;
}

.gift__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 720px;
    min-height: 800px;
    padding-right: 70px;
    padding-left: 70px;
    height: 100%;
}

.gift__title {
    font-family: Aeroport, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.gift__subtitle {
    font-family: Aeroport, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
}

.gift__text {
    font-family: Aeroport, sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
}

.gift-card__title {
    font-family: Aeroport, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.gift-card__img {
    max-width: 490px;
    height: auto;
    border-radius: 12px;
    border: 2px solid var(--secondary-color);
    box-shadow: 0 8px 16px 0 var(--secondary-color);
    margin-top: 14px;
}

.gift-card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 48px;
    border-radius: 120px;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: #fff;

    font-family: Aeroport, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.gift-card__button:hover {
    border-color: var(--hover-color);
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 767px) {
    .gift-card__img {
        width: 100%;
        max-width: 490px;
    }

    .gift__title {
        font-size: 30px;
        line-height: 30px;
    }

    .gift__text {
        font-size: 18px;
        line-height: 18px;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .gift__container {
        padding-right: 14px;
        padding-left: 14px;
    }
}

@media (min-width: 2000px) {
    .gift {
        height: 100vh;
    }
}
