.container {
    background-image: url('../../../public/assets/images/bg-4.png');
    background-color: var(--bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(300px);
}

.show {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.interior__universal-container--1 {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.interior__universal-container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}

.show__container {
    max-width: 720px;
    padding-right: 70px;
    padding-left: 70px;
}

.show__title {
    font-family: Aeroport, sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

.show__text {
    font-family: Aeroport, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
    margin-top: 10px;
}

.show__stories {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.interior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 50px;
}

.interior__container {
    max-width: 720px;
    padding-right: 70px;
    padding-left: 70px;
}

.interior__universal-container {
    padding-right: 70px;
    padding-left: 70px;
}

.interior__block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

.interior__img-1 {
    margin-right: 30px;
}

.interior__img-4 {
    margin-top: 30px;
}

.interior__block:nth-child(1) {
    margin-top: 0;
}

.interior__title {
    font-family: Aeroport, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.interior__title--secondary {
    color: var(--secondary-color);
    margin-top: 88px;
}

.interior__text {
    color: #ffffff;
    font-family: Aeroport, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.interior__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.interior__tag {
    display: flex;
    /*flex: 0 0 auto;*/
    align-items: center;
    justify-content: center;
    height: 32px;
    max-width: 100%;
    text-wrap: nowrap;
    border-radius: 24px;
    font-family: Aeroport, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 10px;
    cursor: pointer;
    padding: 8px 16px 8px 16px;
}

.interior__tag:hover {
    cursor: pointer;
}

.interior__tag--active {
    background: var(--secondary-color);
}

.interior__tag--active:hover {
    background: var(--hover-color);
}

.interior__tag--inactive {
    border: 2px solid var(--secondary-color);
}

.interior__tag--inactive:hover {
    border-color: var(--primary-color);
}

.interior__subtext {
    font-family: Aeroport, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--primary-color);
    width: 338px;
}

.interior__subtext--2 {
    text-align: right;
    margin-left: auto;
    margin-right: 30px;
}

.interior__img-1 {
    width: 727px;
    height: 527px;
}

.interior__img-2 {
    display: block;
    width: 720px;
    height: 522px;
    margin-left: auto;
    margin-top: 30px;
}

.interior__img-3 {
    width: 719px;
    height: 979px;
}

.interior__img-4 {
    display: block;
    width: 719px;
    height: 522px;
    margin-left: auto;
}

@media (min-width: 320px) and (max-width: 575px) {
    .show {
        justify-content: flex-start;
        padding-bottom: 70px;
    }

    .show__title, .show__text, .interior__title, .interior__text {
        text-align: left;
        align-items: flex-start;
    }

    .interior__tags {
        justify-content: flex-start;
        gap: 10px;
    }

    .show__stories {
        margin-top: 30px;
    }

    .interior__universal-container--1 {
        padding-bottom: 40px;
    }
}

@media (min-width: 320px) and (max-width: 992px) {
    .interior__block {
        display: flex;
        flex-direction: column;
    }

    .interior__img-1, .interior__img-2, .interior__img-3, .interior__img-4 {
        width: 100%;
        height: 100%;
    }

    .interior__subtext--2 {
        display: none;
    }

    .interior__subtext {
        margin-top: 20px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .interior {
        padding-bottom: 20px;
    }

    .interior__tags {
        gap: 10px;
    }

    .interior__block {
        margin-top: 20px;
    }

    .interior__img-4 {
        margin-top: 20px;
    }

    .interior__container, .interior__universal-container, .show__container {
        width: 100%;
        padding-right: 14px;
        padding-left: 14px;
    }

    .interior__title {
        font-size: 30px;
        line-height: 30px;
    }

    .show__title {
        font-size: 30px;
        line-height: 30px;
    }
}
