.jobs {
    display: flex;
    justify-content: center;
    background-image: url('../../../public/assets/images/bg.png');
    height: auto;
    width: 100vw;
    top: -284px;
    left: -454.86px;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(300px);
    padding-bottom: 100px;
    background-color: var(--bg-color);
    padding-top: 50px;
}

.jobs__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 720px;
    min-height: 800px;
    padding-right: 70px;
    padding-left: 70px;
}

.jobs__title {
    font-family: Aeroport, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 50px;
    text-align: center;
    max-width: 580px;
    color: #fff;
    font-size: 40px;
    line-height: 40px;
}

.jobs__subtitle {
    font-family: Aeroport, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--tertiary-color);
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.jobs__text {
    font-family: Aeroport, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-top: 20px;
    max-width: 580px;
    color: #fff;
}

.jobs__mail, .jobs__phone {
    color: var(--tertiary-color);
    text-decoration: none;
}

.jobs__mail:hover, .jobs__phone:hover {
    color: var(--hover-color);
}

.jobs-card {
    max-width: 580px;
    padding: 32px 16px 32px 16px;
    border-radius: 12px;
    border: 2px solid var(--purple);
    background: #000000;
    margin-bottom: 30px;
}

.jobs-card__title {
    font-family: Aeroport, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--tertiary-color);
}

.jobs-card__subtitle {
    font-family: Aeroport, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.15em;
    color: var(--tertiary-color);
    text-transform: uppercase;
    margin-top: 20px;
}

.jobs-card__text {
    font-family: Aeroport, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 20px;
    color: #fff;
}

.jobs-card__btn {
    display: flex;
    align-items: center;
    padding: 16px 24px 16px 24px;
    border-radius: 120px;
    font-family: Aeroport, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 22px;
    color: #fff;
    background: transparent;
}

.jobs-card__btn:hover {
    cursor: pointer;
}

.jobs-card__btn--outlined {
    border: 2px solid var(--tertiary-color);
}

.jobs-card__btn--outlined:hover {
    border-color: var(--hover-color);
}

.jobs-card__btn--filled {
    border: 2px solid var(--tertiary-color);
    background: var(--secondary-color);
}

.jobs-card__btn--filled:hover {
    background: var(--hover-color);
}

@media (min-width: 320px) and (max-width: 767px) {
    .jobs__title {
        font-size: 30px;
        line-height: 30px;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .jobs__container {
        padding-right: 14px;
        padding-left: 14px;
    }
}


@media (min-width: 2000px) {
    .jobs {
        height: 100vh;
    }
}
