/* Modal.css */

.jobs-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.jobs-modal__content {
    background: black;
    text-align: center;
    position: relative;
    border: 2px solid #A401AD;
    width: 350px;
    padding: 24px 16px 24px 16px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 #C618D080;
}

.jobs-modal__title {
    font-family: Aeroport, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 24px;
}

.jobs-modal__buttons {
    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.jobs-modal__button {
    width: 151px;
    padding: 16px 24px 16px 24px;
    border-radius: 120px;
    border: 2px;
    background: #000000;
    color: #ffffff;
    border: 2px solid #DF61E7;

    font-family: Aeroport, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
}

.jobs-modal__button:hover {
    cursor: pointer;
    border-color: var(--hover-color);
}
