.interior-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.interior-modal__content {
    width: 400px;
    height: 660px;
    position: relative;

    max-height: 90vh;
    overflow-y: auto;
    background-color: #000;
    border-radius: 8px;
}

.interior-progress {
    top: 10px;
    width: 100%;
    display: flex;
    gap: 5px;
    z-index: 999;
}

.interior-progress__bar {
    flex-grow: 1;
    height: 4px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.interior-progress__fill {
    height: 100%;
    background: white;
    border-radius: 2px;
}

.interior-photo__container {
    width: 100%;
    height: 660px;
    display: flex;
}

.interior-photo {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.interior-photo--horizontal {
    object-fit: contain;
}

.interior-photo--vertical {
    object-fit: cover;
}

.interior-photo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.interior-photo::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.interior-modal__tags {
    position: absolute;
    width: 100%;
    margin-top: 20px;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    scrollbar-width: none;
    z-index: 99999;
}

.interior-modal__tags::-webkit-scrollbar {
    display: none;
}


