.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: right;
    background: #070323;
}

.header__nav {
    display: flex;
    flex-wrap: nowrap;
}

.header__logo {
    width: 99px;
    margin-top: 20px;
    cursor: pointer;
}

.header__language {
    width: 26px;
    height: 26px;

}

.header__menu {
    width: 66px;
    height: 40px;
    cursor: pointer;
    margin-left: -12px;
}

.header__menu--small {
    margin-bottom: -10px;
    margin-left: 0;
}

.reserve-btn {
    display: flex;
    align-items: center;
    width: 100px;
    height: 32px;
    border-radius: 120px;
    background: var(--secondary-color);
    border: 2px solid var(--primary-color);
}

.reserve-btn:hover {
    background: var(--hover-color);
    cursor: pointer;
}

.reserve-btn__text a {
    text-transform: uppercase;
    font-family: Aeroport, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.15em;
    margin-left: -16px;
    color: #fff;
    text-decoration: none;
}

.reserve-btn__phone-call {
    height: 82px;
    margin-left: -46px;
    margin-top: 18px;
}

.nav-btn {
    background: transparent;
    border: none;
    color: #fff;
    font-family: Aeroport, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 16px;
}

.nav-btn:hover {
    color: #DF61E7;
}

.header-map {
    display: flex;
    width: 140px;
}

.header-map__img {
    margin-right: 8px;
}

.header-hours {
    display: flex;
    flex-direction: column;
    font-family: Aeroport, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-left: 40px;
}

.header-hours__days {
    color: var(--primary-color);
}

.header-hours__hours {
    color: #fff;
    margin-top: 6px;
}

.header-map__addess-block {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.header-map__addess-block:hover .header-map__addess {
    color: var(--hover-color)
}

.header-map__addess {
    font-family: Aeroport, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #fff;
    height: 27px;
    margin-top: -6px;
    margin-left: 6px;
}

.header-reserve-btn {
    background-color: var(--secondary-color);
    padding: 12px 24px 12px 24px;
    border-radius: 120px;
    border: 2px solid var(--primary-color);
    margin-left: 80px;
    font-family: Aeroport, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.header-reserve-btn:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.header--big {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header--small {
    display: none;
}

.header__logo {
    display: none;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .header-map {
        margin-left: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-map {
        margin-left: 10px;
    }

    .header-reserve-btn {
        margin-left: 10px;
    }

    .header-hours {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .header {
        background: #00000080;
    }

    .header--small {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    .header--big {
        display: none;
    }

    .header-wrapper {
        display: none;
    }

    .header__logo {
        display: block;
    }
}
