/* Common */
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Aeroport, Arial, sans-serif;
}

html.no-scroll,
body.no-scroll {
    overflow: hidden !important;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

:root {
    /* Colors */
    --primary-color: #DF61E7;
    --secondary-color: #A401AD;
    --tertiary-color: #FAA3FF;
    --purple: #C618D0;
    --hover-color: #D126DB;
    --bg-color: #021012;
}

.App {
    background-color: var(--bg-color);
    overflow-x: hidden;
}

.floating-buttons {
    position: fixed;
    bottom: 80px;
    right: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
    z-index: 999999;
    opacity: 0;
    pointer-events: none;
    /*transition: opacity 0.3s ease, transform 0.3s ease;*/
    /*transform: translateY(20px);*/
}

.floating-buttons--visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.floating-button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    width: 56px;
    height: 56px;
    /*transition: transform 0.3s ease, filter 0.3s ease;*/
}

.floating-button img {
    /*transition: transform 0.3s ease, filter 0.3s ease;*/
    width: 60px;
    height: 60px;
}

.floating-button__text {
    font-family: Aeroport, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.15em;
    color: #ffffff;
    text-transform: uppercase;
    transition: color 0.3s ease;
    margin-top: -36px;
}

/*.floating-button:hover img {*/
/*    transform: scale(1.1);*/
/*}*/

.floating-button:hover .floating-button__text {
    color: var(--hover-color);
}

@media (min-width: 320px) and (max-width: 575px) {
    .floating-buttons {
        /*top: 60px;*/
        /*right: -20px;*/
    }
}

/* Fonts */
@font-face {
    font-family: Aeroport;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src:
        url('../public/assets/fonts/Aeroport-Light/Aeroport-Light.woff') format("woff"),
        url('../public/assets/fonts/Aeroport-Light/Aeroport-Light.woff2') format("woff2")
}

@font-face {
    font-family: Aeroport;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
        url('../public/assets/fonts/Aeroport-Regular/Aeroport-Regular.woff') format("woff"),
        url('../public/assets/fonts/Aeroport-Regular/Aeroport-Regular.woff2') format("woff2")
}

@font-face {
    font-family: Aeroport;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src:
        url('../public/assets/fonts/Aeroport-Medium/Aeroport-Medium.woff') format("woff"),
        url('../public/assets/fonts/Aeroport-Medium/Aeroport-Medium.woff2') format("woff2")
}

@font-face {
    font-family: Aeroport;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:
        url('../public/assets/fonts/Aeroport-Bold/Aeroport-Bold.woff') format("woff"),
        url('../public/assets/fonts/Aeroport-Bold/Aeroport-Bold.woff2') format("woff2")
}
