.girls {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    background-image: url('../../../public/assets/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(300px);
    position: relative;
    overflow: hidden;
}

.girls__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 720px;
    padding-right: 70px;
    padding-left: 70px;
}

.girls__title {
    font-family: Aeroport, sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    margin-top: 50px;
}

.girls__subtitle {
    font-family: Aeroport, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
    margin-top: 16px;
}

.girls__text {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    width: 470px;
    margin-top: 100px;
}

.highlighted-word {
    color: var(--primary-color);
}

.animation-string {
    position: absolute;
    top: 34%;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    z-index: -1;
}

.animation-string__animation {
    display: inline-block;
    white-space: nowrap;
}

.animation-string__text {
    font-family: Aeroport, sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 82px;
    text-align: center;
    color: var(--secondary-color);
    text-shadow: 0 0 10px #C618D080, 0 0 20px #C618D080, 0 0 30px #C618D080;
    filter: brightness(0.5);

    text-transform: uppercase;
    margin-right: 50px;
    display: inline-block;
}

.girls__animation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 400px;
}

.girls__img {
    position: absolute;
    width: 200px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    will-change: transform, opacity;
}

.girls__img--left {
    right: 80%;
}

.girls__img--center {}

.girls__img--right {
    left: 70%;
}

@media (min-width: 320px) and (max-width: 575px) {
    .girls__title {
        align-self: start;
    }

    .girls__subtitle {
        text-align: left;
    }

    .girls__text {
        text-align: left;
    }

    .girls__img--left {
        right: 60%;
    }

    .girls__img--center {}

    .girls__img--right {
        left: 50%;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .girls__title {
        font-size: 30px;
        line-height: 30px;
    }
}
